body {
    font-family: "Lato", sans-serif;
   background-color: #ECEFF4;
 
 }
 
   
 .demo {
     /* for IE10+ touch devices */
     touch-action:none;
 }
 /** JSPLUMB ARTEFACTS **/
 .jtk-overlay {
     z-index: 51;
 }
 
 .jtk-endpoint {
     z-index: 50;
     cursor: move;
 }
 
 .jtk-connector {
     z-index: 1;
 }
 
 /** ELEMENTS **/
 .littledot
 {
     cursor: pointer;
     width: 12px;
     height: 12px;
     background-image: url(littledot.png);
     z-index: 5;
     position: absolute;
     border-radius: 31px;
 }
 
 
 
 .littledot-hover-hover {
     border: 2px solid orange;
 }
 
 .dropHover {
     border: 1px solid orange;
 }
 
 /** ELEMENT POSITIONS **/

#cin{
  top: 26em;
  left: 13em;
}

#p1 {
  top: 35.1em;
  left: 41.5em;
}
#p2 {
  top: 31.5em;
  left: 41.5em;
}
#p3 {
  top: 29em;
  left: 41.5em;
}
#p4 {
  top: 26.25em;
  left: 41.5em;
}

#p5 {
  top: 23em;
  left: 41.5em;
}
#p6 {
  top: 20em;
  left: 41.5em;
}
#p7 {
  top: 17em;
  left: 41.5em;
}
#p8 {
  top: 17.75em;
  left: 20em;
}
#p9 {
  top: 20.25em;
  left: 20em;
}
#p10 {
  top: 24.25em;
  left: 20em;
}
#p11 {
  top: 28em;
  left: 20em;
}
#p12 {
  top: 31.25em;
  left: 20em;
}
#p13 {
  top: 34.25em;
  left: 20em;
}
#p14 {
  top: 36.5em;
  left: 20em;
}


#a4 {
  top: 15.75em ;
  left: 51.5em;
 }
 
#s3 {
  top: 18.75em;
  left: 51.5em;
}

#a3 {
  top: 21.75em;
  left: 51.5em;
}
 
#b3 {
  top: 25.2em;
  left: 51.5em;
}

#vcc {
  top: 28.2em;
  left: 51.5em;
}
#s2 {
  top: 31.5em;
  left: 51.5em;
}
#b2 {
  top: 34.5em;
  left: 51.5em;
}
#a2 {
  top: 37.35em;
  left: 51.5em;
}
#b4 {
  top: 15.75em;
  left: 72.5em;
}
#s4 {
  top: 18.75em;
  left: 72.5em;
}
#c4 {
  top: 21.75em;
  left: 72.5em;
}

#c0 {
  top: 25.2em;
  left: 72.5em;
}
#gnd {
  top: 28.2em;
  left: 72.5em;
}
#b1 {
  top: 31.5em;
  left: 72.5em;
}
#a1 {
  top: 34.5em;
  left: 72.5em;
}
#s1 {
  top: 37.25em;
  left: 72.5em;
}

 path, .jtk-endpoint {
     cursor: pointer;
 }
 h1
   {
     color: maroon;
   } 
   #wrapper
   {
     width:100%;
   }
  
   .dropbtn
   {
     background-color:#3385ff;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
   }
   .dropbtn:hover, .dropbtn:focus
   {
     background-color: blue;
   }
   .dropdown
   {
     position: relative;
     display: inline-block;
   }
   .dropdown-content
   {
     display: none;
     position: relative;
     background-color: lightblue ;
     min-width: 750px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   .dropdown-content a 
   {
     color: navy;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
   }
   .dropdown a:hover 
   {
     background-color: mistyrose;
   }
   .show 
   {
     display:block;
   }
 
 